<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/singlemovie.css">
<body>
    <%- include('../partials/header') %>
  <body style=" width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.5)),
      url(../images/slider-bg.jpg);
  background-size: cover;">
    <%- include('../partials/header') %>

    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">
                <h1 class="display-4 mt-5">MOVIES DB</h1>
                <h3>Collection of Latest Movies Streaming Now.</h3>
            </div>
        </div>
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" src="../images/img1.jpg" alt="Card image cap" id="img" />
                        </div>
                    </div>
    
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1 class="text-white">JOHN WICK</h1>
                            <p>
                                "ANCIENT HISTORY MOVIE 3000BC."
                            </p>
    
                            <div class="cate">
                                <span class="blue"><a href="#">Sci-fi</a></span>
                                <span class="yell"><a href="#">Action</a></span>
                                <span class="orange"><a href="#">adventure</a></span>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="carousel-item">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" src="../images/img2.jpg" alt="Card image cap" id="img"/>
                        </div>
                    </div>
    
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>LORD OF THE RINGS</h1>
                            <p>
                                "GALAXIAN AND INVADERS WAR AND RAGE".
                            </p>
                            <div class="cate">
                                <span class="blue"><a href="#">History</a></span>
                                <span class="yell"><a href="#">Drama</a></span>
                                <span class="orange"><a href="#">Horror</a></span>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="carousel-item">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" src="../images/img3.jpg" alt="Card image cap" id="img"/>
                        </div>
                    </div>
    
                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>LOST IN GALAXY</h1>
                            <p>
                                "EXPLORE AND UPHOLD THE UNIVERSAL KEYS"
                            </p>
                            <div class="cate">
                                <span class="blue"><a href="#">Suspense</a></span>
                                <span class="yell"><a href="#">documentry</a></span>
                                <span class="orange"><a href="#">Romance</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


<div id="moviedetail">
        <h2 id="title"></h2>
        <br>
        <img id="movieimg" src="" alt="">
        <br>
        <h3>Overview</h3>
        <p id="overview"></p>
        <br>
        <h3>Tagline</h3>
        <p id="tagline"></p>
        <br>
        <h3>Genres</h3>
        <div id="genres"></div>
        <br>
        <h3>Release Date</h3>
        <p id="release_date"></p>
        <br>
        <h3>Runtime</h3>
        <p id="runtime"></p>
        <br>
        <script>const movie_id = <%=  movie_id %>; </script>
        <script src="/js/singlemovie.js"></script>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
    
    
    
